<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CompareStream</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
        <link rel="stylesheet" href="/Content/jquery-ui.css" />
</head>
<body>
    <div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("CompareStream", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink(" ", "Index", "Home")</li>
                            <li>@Html.ActionLink(" ", "About", "Home")</li>
                            <li>@Html.ActionLink(" ", "Contact", "Home")</li>
                        </ul>

                        <ul class="nav navbar-nav">
                            <li><a href="/Home/SelectTvShows">Select TV Shows</a></li>

                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Edit
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Home/EditTv">Edit TV Shows</a>></li>
                                    <li><a href="/Home/EditStreamingServices">Edit streaming services</a></li>
                                </ul>
                            </li>

                            <li><a href="/Home/ReportProblem">Report Problem</a></li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CompareStream</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="/Scripts/jquery-ui.js"></script>
    <script src="/Scripts/custom.js"></script>
</body>
</html>
